{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud Functions",
    "termsOfService": "https://www.nvidia.com/en-us/legal_info",
    "contact": {
      "name": "NVIDIA",
      "url": "https://www.nvidia.com/"
    },
    "version": "2.245.1"
  },
  "servers": [
    {
      "url": "https://api.nvcf.nvidia.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Function Invocation",
      "description": "Defines function pass-through invocation endpoints where the invocation payload  is passed as-is without any wrapper. All the endpoints defined in this API  require a bearer token with 'invoke_function' scope in the HTTP Authorization  header. "
    },
    {
      "name": "Asset Management",
      "description": "Deprecated. Users can provide assets directly as part of the input during  function invocation. There is no need to upload assets and then include the  asset-id as part of input to the function invocation.  Defines Asset Management endpoints for Account Admins/Users. All the endpoints  defined in this API require a bearer token in the HTTP Authorization header with  'invoke_function' scope."
    },
    {
      "name": "User Ratelimit Management",
      "description": "Defines User Ratelimit Management endpoints for Account Admins. All the endpoints  defined in this API require a bearer token with 'update_function' scope in  the HTTP Authorization header. "
    },
    {
      "name": "Queue Details",
      "description": "Defines Queue Details endpoints for Account Admins/Users. All the endpoints  defined in this API require a bearer token with 'queue_details' scope in the  HTTP Authorization header. "
    },
    {
      "name": "Function Sharing",
      "description": "Defines endpoints related to authorizing other accounts to invoke a function for  Account Admins. All the endpoints defined in this API require a bearer token with  'authorize_clients' scope in HTTP Authorization header."
    },
    {
      "name": "Telemetry Management",
      "description": "Defines Telemetry Management endpoints for Account Admins. All the endpoints  defined in this API require a bearer token or an api-key with appropriate scope in  the HTTP Authorization header. "
    },
    {
      "name": "Cluster Groups and GPUs",
      "description": "Deprecated. Please use corresponding ICMS endpoints directly. These endpoints  will be removed.  Defines endpoints to list Cluster Groups and GPUs for Account Admins. All tne  endpoints defined in this API require a bearer token with 'list_cluster_groups'  scope in the HTTP Authorization header."
    },
    {
      "name": "Function Deployment",
      "description": "Defines Function Deployment endpoints for Account Admins. All the endpoints defined  in this API require a bearer token with 'deploy_function' scope in the HTTP  Authorization header."
    },
    {
      "name": "User Secret Management",
      "description": "Defines User Secret Management endpoints for Account Admins. All the endpoints  defined in this API require a bearer token with 'update_secrets' scope in  the HTTP Authorization header. "
    },
    {
      "name": "Function Management",
      "description": "Defines Function Management endpoints for Account Admins. All the endpoints  defined in this API require a bearer token with appropriate scope in  the HTTP Authorization header. The scope is specified in the documentation  for each of the endpoints. "
    },
    {
      "name": "Function Invocation Assertion Token",
      "description": "Defines endpoints that issue an assertion token from Notary Service to be used for function invocation later "
    },
    {
      "name": "Registry Credential Management",
      "description": "Defines Registry Credential Management endpoints. These endpoints can only be  invoked by Account Admins and require a bearer token in HTTP Authorization header  with 'manage_registry_credentials' scope. "
    },
    {
      "name": "nspect_id",
      "description": "NSPECT-F7NT-ONT3"
    }
  ],
  "paths": {
    "/v2/nvcf/secrets/telemetries/{telemetryId}": {
      "put": {
        "tags": [
          "User Secret Management"
        ],
        "summary": "Update secret for a specific Telemetry Id",
        "description": "Updates secret for the specific telemetry Id within NVIDIA Cloud Account. This endpoint requires a bearer token with 'update_secrets' scope in the HTTP Authorization header. ",
        "operationId": "updateTelemetrySecret",
        "parameters": [
          {
            "name": "telemetryId",
            "in": "path",
            "description": "NVIDIA Cloud Account Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTelemetrySecretRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v2/nvcf/secrets/functions/{functionId}/versions/{versionId}": {
      "put": {
        "tags": [
          "User Secret Management"
        ],
        "summary": "Update user secrets for a function version",
        "description": "Updates secrets for the specified function version. This endpoint  requires a bearer token with 'update_secrets' scope in the HTTP  Authorization header. ",
        "operationId": "updateFunctionSecrets",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Function Version Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionSecretsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v2/nvcf/ratelimit/functions/{functionId}/versions/{versionId}": {
      "put": {
        "tags": [
          "User Ratelimit Management"
        ],
        "summary": "Update user ratelimit for a function version",
        "description": "Deprecated: use PUT /v2/nvcf/functions/{functionId}/versions/{versionId}  to update ratelimit and other mutable function fields. This legacy endpoint  only updates ratelimit for the specified function version and requires a  bearer token with 'update_function' scope in the HTTP Authorization header. ",
        "operationId": "updateRateLimit",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "User Ratelimit Management"
        ],
        "summary": "Delete user ratelimit for a function version",
        "description": "Delete ratelimit for the specified function version. This endpoint  requires a bearer token with 'update_function' scope in the HTTP  Authorization header. ",
        "operationId": "deleteRateLimit",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v2/nvcf/metadata/functions/{functionId}/versions/{functionVersionId}": {
      "put": {
        "tags": [
          "Function Management"
        ],
        "summary": "Update Function Metadata",
        "description": "Deprecated: use PUT /v2/nvcf/functions/{functionId}/versions/{functionVersionId} to update tags, rate limit, model-specific LLM config, and other mutable function fields. This legacy endpoint updates the same mutable function version fields for the authenticated NVIDIA Cloud Account and requires a bearer token with 'update_function' scope in the HTTP Authorization header. ",
        "operationId": "updateFunctionMetadata",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/nvcf/functions/{functionId}/versions/{functionVersionId}": {
      "get": {
        "tags": [
          "Function Management"
        ],
        "summary": "Get Function Version Details",
        "description": "Retrieves detailed information of the specified function version in the  authenticated NVIDIA Cloud Account. Requires a bearer token with  'list_functions' or 'list_functions_details' scopes in the HTTP  Authorization header. ",
        "operationId": "getFunction",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Version id ",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "includeSecrets",
            "in": "query",
            "description": "Query param 'includeSecrets' indicates whether to include secret names\n for the function in the response.\n",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Function Management"
        ],
        "summary": "Updates mutable fields of the specified function version.",
        "description": "Updates mutable fields of the specified function version within the authenticated NVIDIA Cloud Account. The current request payload supports tags updates, rate limit updates, and model-specific LLM config updates. Requires a bearer token with 'update_function' scope in the HTTP Authorization header. ",
        "operationId": "updateFunction",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Function Management"
        ],
        "summary": "Delete Function",
        "description": "Deletes the specified function version in the authenticated NVIDIA Cloud  Account. Requires a bearer token with 'delete_function' scope in the HTTP  Authorization header. If the function version is public, then Account Admin  cannot delete the function. ",
        "operationId": "deleteFunction",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v2/nvcf/deployments/functions/{functionId}/versions/{functionVersionId}": {
      "get": {
        "tags": [
          "Function Deployment"
        ],
        "summary": "Get Function Deployment Details",
        "description": "Allows Account Admins to retrieve the deployment details of the specified  function version. Access to this endpoint mandates a bearer token with 'deploy_function' scope in the  HTTP Authorization header. ",
        "operationId": "getFunctionDeployment",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Function Deployment"
        ],
        "summary": "Update Function Deployment",
        "description": " Deprecated and will be removed soon. Use a single GPU specification update  method instead.  Updates the deployment specs of the specified function version. It's important  to note that GPU type and backend configurations cannot be modified through  this endpoint. If the specified function is public, then Account Admin cannot  perform this operation. Access to this endpoint mandates a bearer token with 'deploy_function' scope in the  HTTP Authorization header. ",
        "operationId": "updateFunctionDeployment",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Function Deployment"
        ],
        "summary": "Deploy Function",
        "description": "Initiates deployment for the specified function version. Upon invocation of  this endpoint, the function's status transitions to 'DEPLOYING'. If the  specified function version is public, then Account Admin cannot perform this  operation. Access to this endpoint mandates a bearer token with 'deploy_function' scope in the  HTTP Authorization header. ",
        "operationId": "createFunctionDeployment",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Function Deployment"
        ],
        "summary": "Delete Function Deployment",
        "description": "Deletes the deployment associated with the specified function. Upon  deletion, any active instances will be terminated, and the function's status  will transition to 'INACTIVE'. To undeploy a function version gracefully,  specify 'graceful=true' query parameter, allowing current tasks to complete  before terminating the instances. If the specified function version is public,  then Account Admin cannot perform this operation. Access to this endpoint mandates a bearer token with 'deploy_function' scope in the  HTTP Authorization header. ",
        "operationId": "deleteFunctionDeployment",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "graceful",
            "in": "query",
            "description": "Query param to deactivate function for graceful shutdown",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/tokens/functions": {
      "post": {
        "tags": [
          "Function Invocation Assertion Token"
        ],
        "summary": "Issue Function Invocation Token",
        "description": "Issues an assertion token from Notary Service for specified functionIds and/or functionVersionIds ",
        "operationId": "issueMultiFunctionsInvocationToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiFunctionsInvocationTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invocation assertion token is issued",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "403": {
            "description": "Either missing scope in the auth(JWT / ApiKey) token and/or missing resource entry\n in the ApiKey for the function.\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Client is doing too many requests per second and should slow down request rate.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/tokens/functions/{functionId}/versions/{functionVersionId}": {
      "post": {
        "tags": [
          "Function Invocation Assertion Token"
        ],
        "summary": "Issue Function Invocation Token",
        "description": "Issues an assertion token from Notary Service for a specific functionId and/or functionVersionId ",
        "operationId": "issueInvocationToken",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvocationTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invocation assertion token is issued",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "403": {
            "description": "Either missing scope in the auth(JWT / ApiKey) token and/or missing resource entry\n in the ApiKey for the function.\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Client is doing too many requests per second and should slow down request rate.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/tokens/functions/{functionId}": {
      "post": {
        "tags": [
          "Function Invocation Assertion Token"
        ],
        "summary": "Issue Function Invocation Token",
        "description": "Issues an assertion token from Notary Service for a specific functionId and/or functionVersionId ",
        "operationId": "issueInvocationToken_1",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvocationTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invocation assertion token is issued",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "403": {
            "description": "Either missing scope in the auth(JWT / ApiKey) token and/or missing resource entry\n in the ApiKey for the function.\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Client is doing too many requests per second and should slow down request rate.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvocationTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/telemetries": {
      "get": {
        "tags": [
          "Telemetry Management"
        ],
        "summary": "List Telemetries",
        "description": "Retrieves telemetry configurations for a specific NVIDIA Cloud Account.  requires a bearer token with 'manage_telemetries' scope in the HTTP  Authorization header. ",
        "operationId": "getTelemetriesByAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTelemetryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Telemetry Management"
        ],
        "summary": "Create Telemetry",
        "description": "Creates telemetry endpoints for NVIDIA Cloud Accounts.  requires a bearer token with 'manage_telemetries' scope in the HTTP  Authorization header. ",
        "operationId": "createTelemetry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/registry-credentials": {
      "get": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "List Registry Credentials",
        "description": "Lists all the registry credentials associated with the authenticated  NVIDIA Cloud Account. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "listRegistryCredentialDetails",
        "parameters": [
          {
            "name": "artifactType",
            "in": "query",
            "description": "Filters registry credentials using the specified 'artifactType' query param.\n",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "CONTAINER",
                "HELM",
                "MODEL",
                "RESOURCE"
              ],
              "items": {
                "type": "string",
                "format": "UTF-8",
                "enum": [
                  "CONTAINER",
                  "HELM",
                  "MODEL",
                  "RESOURCE"
                ],
                "maxLength": 262144,
                "minLength": 0
              },
              "maxItems": 2147483647,
              "minItems": 0,
              "uniqueItems": true
            }
          },
          {
            "name": "provisionedBy",
            "in": "query",
            "description": "Filters registry credentials using the specified 'provisionedBy' query param.\n",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "SYSTEM",
                "USER"
              ],
              "items": {
                "type": "string",
                "format": "UTF-8",
                "enum": [
                  "SYSTEM",
                  "USER"
                ],
                "maxLength": 262144,
                "minLength": 0
              },
              "maxItems": 2147483647,
              "minItems": 0,
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegistryCredentialDetailsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "Add new registry credential to the account",
        "description": "Adds a new registry credential to the account. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "addRegistryCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRegistryCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryCredentialDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/pexec/functions/{functionId}": {
      "post": {
        "tags": [
          "Function Invocation"
        ],
        "summary": "Call Function",
        "description": "Deprecated and will be removed soon. Please use the new NVCF Invocation API  endpoint to invoke a function.  Invokes the specified function that was successfully deployed. If the version  is not specified, any active function versions will handle the request. If  the version is specified in the URI, then the request is exclusively processed  by the designated version of the function. By default, this endpoint will block  for 5 seconds. If the request is not fulfilled before the timeout, it's status  is considered in-progress or pending and the response includes HTTP status code  202 with an invocation request ID, indicating that the client should commence  polling for the result using the invocation request ID. Access to this endpoint  mandates inclusion of a bearer token with 'invoke_function' scope in the  HTTP Authorization header. Additionally, this endpoint has the capability to  provide updates on the progress of the request, contingent upon the workload's  provision of such information. In-progress responses are returned in order. If no in-progress response is received  during polling you will receive the most recent in-progress response. Only the first  256 unread in-progress messages are kept. ",
        "operationId": "invokeFunction",
        "parameters": [
          {
            "name": "NVCF-INPUT-ASSET-REFERENCES",
            "in": "header",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "UTF-8",
                "maxLength": 262144,
                "minLength": 0
              },
              "maxItems": 2147483647,
              "minItems": 0
            }
          },
          {
            "name": "NVCF-POLL-SECONDS",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 300,
              "minimum": 0
            }
          },
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invocation is fulfilled",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Result is pending. Client should poll using the requestId.",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Client should use the URL specified in the 'Location' response header to fetch\n large result.\n",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "URL to get the result",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Cloud credits expired for public functions. Please contact NVIDIA representatives.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Either missing scope in the auth(JWT / ApiKey) token and/or missing resource entry\n in the ApiKey for the function.\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Client is doing too many requests per second and should slow down request rate.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/nvcf/pexec/functions/{functionId}/versions/{versionId}": {
      "post": {
        "tags": [
          "Function Invocation"
        ],
        "summary": "Call Function",
        "description": "Deprecated and will be removed soon. Please use the new NVCF Invocation API  endpoint to invoke a function.  Invokes the specified function that was successfully deployed. If the version  is not specified, any active function versions will handle the request. If  the version is specified in the URI, then the request is exclusively processed  by the designated version of the function. By default, this endpoint will block  for 5 seconds. If the request is not fulfilled before the timeout, it's status  is considered in-progress or pending and the response includes HTTP status code  202 with an invocation request ID, indicating that the client should commence  polling for the result using the invocation request ID. Access to this endpoint  mandates inclusion of a bearer token with 'invoke_function' scope in the  HTTP Authorization header. Additionally, this endpoint has the capability to  provide updates on the progress of the request, contingent upon the workload's  provision of such information. In-progress responses are returned in order. If no in-progress response is received  during polling you will receive the most recent in-progress response. Only the first  256 unread in-progress messages are kept. ",
        "operationId": "invokeFunction_1",
        "parameters": [
          {
            "name": "NVCF-INPUT-ASSET-REFERENCES",
            "in": "header",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "UTF-8",
                "maxLength": 262144,
                "minLength": 0
              },
              "maxItems": 2147483647,
              "minItems": 0
            }
          },
          {
            "name": "NVCF-POLL-SECONDS",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 300,
              "minimum": 0
            }
          },
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invocation is fulfilled",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Result is pending. Client should poll using the requestId.",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Client should use the URL specified in the 'Location' response header to fetch\n large result.\n",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "URL to get the result",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Cloud credits expired for public functions. Please contact NVIDIA representatives.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Either missing scope in the auth(JWT / ApiKey) token and/or missing resource entry\n in the ApiKey for the function.\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Client is doing too many requests per second and should slow down request rate.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
                    },
                    "direct": {
                      "type": "boolean"
                    },
                    "readOnly": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/nvcf/functions": {
      "get": {
        "tags": [
          "Function Management"
        ],
        "summary": "List Functions",
        "description": "Lists all the functions associated with the authenticated NVIDIA Cloud Account.  Requires a bearer token  with 'list_functions' or 'list_functions_details'  scope in the HTTP Authorization header.",
        "operationId": "getFunctions",
        "parameters": [
          {
            "name": "visibility",
            "in": "query",
            "description": "Query param 'visibility' indicates the kind of functions to be included\n in the response.\n",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "authorized",
                "private",
                "public"
              ],
              "items": {
                "type": "string",
                "format": "UTF-8",
                "enum": [
                  "authorized",
                  "private",
                  "public"
                ],
                "maxLength": 262144,
                "minLength": 0
              },
              "maxItems": 2147483647,
              "minItems": 0,
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFunctionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Function Management"
        ],
        "summary": "Create Function",
        "description": "Creates a new function within the authenticated NVIDIA Cloud Account. Requires a  bearer token with 'register_function' scope in the HTTP Authorization header. ",
        "operationId": "createFunction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFunctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFunctionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/functions/{functionId}/versions": {
      "get": {
        "tags": [
          "Function Management"
        ],
        "summary": "List Function Versions",
        "description": "Lists details of all the versions of the specified function in the authenticated  NVIDIA Cloud Account. Requires a bearer token  with 'list_functions' or  'list_functions_details' scopes in the HTTP Authorization header. ",
        "operationId": "getFunctions_1",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFunctionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Function Management"
        ],
        "summary": "Create Function Version",
        "description": "Creates a version of the specified function within the authenticated NVIDIA  Cloud Account. If the function is public, then Account Admin cannot create  a version. Requires a bearer token with 'register_function' scope in the  HTTP Authorization header. ",
        "operationId": "createFunction_1",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFunctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFunctionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}": {
      "get": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "List Account Authorizations For Function",
        "description": "Lists NVIDIA Cloud Account IDs that are authorized to invoke any version of the  specified function. The response includes an array showing authorized accounts  for each version. Individual versions of a function can have their own  authorized accounts. So, each object in the array can have different  authorized accounts listed. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "getAuthorizedPartiesForAllVersions",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Authorize Accounts To Invoke Function",
        "description": "Authorizes additional NVIDIA Cloud Accounts to invoke any version of the  specified function. By default, a function belongs to the NVIDIA Cloud Account  that created it, and the credentials used for function invocation must  reference the same NVIDIA Cloud Account. Upon invocation of this endpoint, any  existing authorized accounts will be overwritten by the newly specified  authorized accounts. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "createAuthorizedPartiesForAllVersions",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizedPartiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Delete All Authorizations At Function Level",
        "description": "Deletes authorizations at the function level. This impacts all versions of  the function. If a function versions has its own set of authorizations,  those are not deleted. If the specified function is public, then  Account Admin cannot perform this operation. Note that the response does  not include any authz accounts at version level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "deleteAuthorizedPartiesForAllVersions",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}/versions/{functionVersionId}": {
      "get": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Get Account Authorizations For Function Version",
        "description": "Gets NVIDIA Cloud Account IDs that are authorized to invoke specified function  version. Response includes authorized accounts that were added specifically  at the version level and the authorized accounts that were inherited from  function level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "getAuthorizedPartiesForSpecificVersion",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Authorize Accounts To Invoke/List Function Version",
        "description": "Authorizes additional NVIDIA Cloud Accounts to invoke a specific function  version. By default, a function belongs to the NVIDIA Cloud Account that  created it, and the credentials used for function invocation must reference  the same NVIDIA Cloud Account. Upon invocation of this endpoint, any existing  authorized accounts will be overwritten by the newly specified authorized  accounts. Note that the response does NOT include inherited authorized accounts  that were added at the function level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "createAuthorizedPartiesForSpecificVersion",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizedPartiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Delete All Authorizations At Version Level",
        "description": "Deletes all the authorized accounts that are directly associated with the  specified function version. Authorized parties that are inherited by the  function version are not deleted. If the specified function version is public,  then Account Admin cannot perform this operation. Note that the response  does not include inherited authorized accounts that were added at the function  level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "deleteAuthorizedPartiesForSpecificVersion",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/assets": {
      "get": {
        "tags": [
          "Asset Management"
        ],
        "summary": "List Assets",
        "description": "List assets owned by the current NVIDIA Cloud Account. Requires a  bearer token with 'invoke_function' scope in the HTTP Authorization header. ",
        "operationId": "getAssets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetsResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Create Asset",
        "description": "Creates a unique id representing an asset and a pre-signed URL to upload the  asset artifact to AWS S3 bucket for the NVIDIA Cloud Account. Requires a  bearer token  with 'invoke_function' scope in the HTTP Authorization header. ",
        "operationId": "createAsset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssetResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/nvcf/registry-credentials/{registryCredentialId}": {
      "get": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "Get Registry Credential Details",
        "description": "Retrieves detailed information of the specified registry credential  associated with the authenticated NVIDIA Cloud Account. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "getRegistryCredentialDetails",
        "parameters": [
          {
            "name": "registryCredentialId",
            "in": "path",
            "description": "Registry Credential id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryCredentialDetailsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "Delete Registry Credential",
        "description": "Deletes the specified registry credential associated with the authenticated  NVIDIA Cloud Account. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "deleteRegistryCredential",
        "parameters": [
          {
            "name": "registryCredentialId",
            "in": "path",
            "description": "Registry Credential id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "Update registry credential",
        "description": "Updates the secret and/or the artifact types associated with the specified  registry credential. Artifact types specified in the request body are  added to the set of artifact types that already exist for the specified  registry credential. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "updateRegistryCredential",
        "parameters": [
          {
            "name": "registryCredentialId",
            "in": "path",
            "description": "Registry Credential id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegistryCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryCredentialDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/deployments/{deploymentId}/gpu-specifications/{gpuSpecId}": {
      "patch": {
        "tags": [
          "Function Deployment"
        ],
        "summary": "Update the specified GPU specification under the specified deployment",
        "description": " Updates the GPU specification of the specified function version's deployment.  It's important to note that GPU type and backend configurations cannot be  modified through this endpoint. If the specified function is public,  then Account Admin cannot perform this operation. Access to this endpoint mandates a bearer token with 'deploy_function' scope in the  HTTP Authorization header. ",
        "operationId": "updateGpuSpecification",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "gpuSpecId",
            "in": "path",
            "description": "GPU Specification id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGpuSpecificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateGpuSpecificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}/versions/{functionVersionId}/remove": {
      "patch": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Unauthorize Account From Invoking, Listing, and Checking Queue Details of Function Version",
        "description": "Removes the specified NVIDIA Cloud Account from the set of authorized accounts  that are directly associated with specified function version. If the specified  function version does not have any of its own(not inherited) authorized  accounts, it results in a response with status 404. Also, if the specified  authorized account is not in the set of existing authorized parties that are  directly associated with the specified function version, it results in a  response with status code 404. If the specified function version is public,  then Account Admin cannot perform this operation. Note that the response  does not include inherited authorized accounts that were added at the function  level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "removeAuthorizedPartyForSpecificVersion",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAuthorizedPartyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}/versions/{functionVersionId}/add": {
      "patch": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Authorize Another Account To Invoke, List, and Check Queue Details of Function Version",
        "description": "Adds the specified NVIDIA Cloud Account to the set of authorized accounts that  can invoke the specified function version. If the specified function version  does not have any existing inheritable authorized accounts, it results in a  response with status 404. If the specified account is already in the set of  existing authorized accounts that are directly associated with the function  version, it results in a response wit status code 409. If a function is public,  then Account Admin cannot perform this operation. Note that the response  does not include inherited authorized accounts that were added at the function  level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "addAuthorizedPartyForSpecificVersion",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "functionVersionId",
            "in": "path",
            "description": "Function version",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAuthorizedPartyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}/remove": {
      "patch": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Unauthorize Account From Invoking, Listing, and Checking Queue Details of Function",
        "description": "Removes the specified NVIDIA Cloud Account from the set of authorized accounts  that can invoke all the versions of the specified function. If the specified  function does not have any existing inheritable authorized parties, it results  in a response with status 404. Also, if the specified account is not in the  existing set of inheritable authorized accounts, it results in a response with  status 404. If the specified function is public, then Account Admin cannot  perform this operation. Note that response only includes the remaining  authorized accounts at the function level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "removeAuthorizedPartyForAllVersions",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAuthorizedPartyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/authorizations/functions/{functionId}/add": {
      "patch": {
        "tags": [
          "Function Sharing"
        ],
        "summary": "Authorize Another Account To Invoke, List, and Check Queue Details of Function",
        "description": "Adds the specified NVIDIA Cloud Account to the set of authorized accounts that  are can invoke all the versions of the specified function. If the specified  function does not have any existing inheritable authorized accounts, it results  in a response with status 404. If the specified account is already in the set  of existing inheritable authorized accounts, it results in a response with  status code 409. If a function is public, then Account Admin cannot perform  this operation. Note that response only includes authz accounts at the  function level. Access to this functionality mandates the inclusion of a bearer token with the  'authorize_clients' scope in the HTTP Authorization header ",
        "operationId": "addAuthorizedPartyForAllVersions",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAuthorizedPartyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizedPartiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/telemetries/{telemetryId}": {
      "get": {
        "tags": [
          "Telemetry Management"
        ],
        "summary": "Get Telemetry Details",
        "description": "Retrieves the details of a specific telemetry configuration by its ID.  requires a bearer token with 'manage_telemetries' scope in the HTTP  Authorization header. ",
        "operationId": "getTelemetry",
        "parameters": [
          {
            "name": "telemetryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Telemetry Management"
        ],
        "summary": "Delete Telemetry",
        "description": "Deletes a specific telemetry configuration for a NVIDIA Cloud Account.  requires a bearer token with 'manage_telemetries' scope in the HTTP  Authorization header. If there any functions that are dependent on the  Telemetry that is being deleted, then response with 400 status code will  be returned. ",
        "operationId": "deleteTelemetry",
        "parameters": [
          {
            "name": "telemetryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Cannot be deleted till Functions depend on it"
          }
        }
      }
    },
    "/v2/nvcf/recognized-registries": {
      "get": {
        "tags": [
          "Registry Credential Management"
        ],
        "summary": "List Recognized Registries",
        "description": "Lists all the registries that are recognized by NVCF. Only when a registry  is recognized by NVCF that the users can add its credential to their account  and then use it to create functions. Requires a bearer token in the HTTP Authorization header with 'manage_registries' scope. ",
        "operationId": "getRecognizedRegistries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecognizedRegistriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/queues/{requestId}/position": {
      "get": {
        "tags": [
          "Queue Details"
        ],
        "summary": "Queue Position",
        "description": "Using the specified function invocation request id, returns the estimated  position of the corresponding message up to 1000 in the queue. Requires a bearer token or an api-key with 'queue_details' scope in the HTTP  Authorization header. ",
        "operationId": "getPositionInQueue",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Function invocation request id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPositionInQueueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/queues/functions/{functionId}/versions/{versionId}": {
      "get": {
        "tags": [
          "Queue Details"
        ],
        "summary": "Queue Details",
        "description": "Provides details of all the queues associated with the specified function.  If a function has multiple versions and they are all deployed, then the  response includes details of all the queues. If the specified function  is public, then Account Admin cannot perform this operation. Requires a bearer token or an api-key with 'queue_details' scope in the HTTP  Authorization header. ",
        "operationId": "getQueuesDetails",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Function version id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueuesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/queues/functions/{functionId}": {
      "get": {
        "tags": [
          "Queue Details"
        ],
        "summary": "Queue Details",
        "description": "Provides details of all the queues associated with the specified function.  If a function has multiple versions and they are all deployed, then the  response includes details of all the queues. If the specified function  is public, then Account Admin cannot perform this operation. Requires a bearer token or an api-key with 'queue_details' scope in the HTTP  Authorization header. ",
        "operationId": "getQueuesDetails_1",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "Function id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueuesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/nvcf/pexec/status/{requestId}": {
      "get": {
        "tags": [
          "Function Invocation"
        ],
        "summary": "Poll For Result Using Function Invocation Request",
        "description": "Deprecated and will be removed soon. Please use the new NVCF Invocation API  endpoint to invoke a function and stream results without polling.  Retrieves the status of an in-progress or pending request using its unique  invocation request ID. If the result is available, it will be included in  the response, marking the request as fulfilled. Conversely, if the result is  not yet available, the request is deemed pending. Access to this endpoint  mandates inclusion of a bearer token with 'invoke_function' scope in the  HTTP Authorization header. In-progress responses are returned in order. If no in-progress response is received  during polling you will receive the most recent in-progress response. Only the first  256 unread in-progress messages are kept. ",
        "operationId": "getFunctionInvocationResult",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Invocation Request Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 36,
              "minLength": 36
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invocation is fulfilled",
            "headers": {
              "NVCF-REQID": {
                "description": "Invocation Request Id",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-PERCENT-COMPLETE": {
                "description": "Percentage complete",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "NVCF-STATUS": {
                "description": "Invocation status",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "short": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "char": {
                      "type": "string"
                    },
                    "int": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "float": {
                      "type": "number",
                      "format": "float"
                    },
                    "double": {
                      "type": "number",
                      "format": "double"
[...]
