openapi: 3.1.0
info:
  title: NVIDIA NGC Private Registry
  description: 'Org-scoped artifact metadata in the NGC private registry: models, resources, recipes, generic artifacts (containers, helm charts), versions and files, collections, shares, deployment parameters, encryption keys and workflows. Team-scoped twins are mapped as *_by_team methods (source: the Private Artifacts (Models) API definition, responses from the ngcsdk data classes).'
  version: 0.0.1-SNAPSHOT
paths:
  /encryption-keys:
    get:
      description: List encryption keys in org
      operationId: listKeysInOrg
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List encryption keys in org
      tags:
        - Encryption Keys
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /encryption-keys/{key_id}:
    get:
      description: List artifacts for encryption key in org
      operationId: listArtifactsForKeyInOrg
      parameters:
        - description: Key ID
          in: path
          name: key_id
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Artifact type
          in: query
          name: artifact-type
          required: false
          schema:
            default: MODEL
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyArtifactListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List artifacts for encryption key in org
      tags:
        - Encryption Keys
    delete:
      description: Revoke encryption key and disassociate from all artifacts in org
      operationId: deleteKeyFromOrg
      parameters:
        - description: Key ID
          in: path
          name: key_id
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusUrlResponse'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Revoke encryption key in org
      tags:
        - Encryption Keys
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /team/{team_name}/encryption-keys:
    get:
      description: List encryption keys in org/team
      operationId: listKeysInTeam
      parameters:
        - description: Team name
          in: path
          name: team_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List encryption keys in org/team
      tags:
        - Encryption Keys
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /team/{team_name}/encryption-keys/{key_id}:
    get:
      description: List artifacts for encryption key in org/team
      operationId: listArtifactsForKeyInTeam
      parameters:
        - description: Team name
          in: path
          name: team_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Key ID
          in: path
          name: key_id
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Artifact type
          in: query
          name: artifactType
          required: false
          schema:
            default: MODEL
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyArtifactListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List artifacts for encryption key in org/team
      tags:
        - Encryption Keys
    delete:
      description: Revoke encryption key and disassociate from all artifacts in org/team
      operationId: deleteKeyFromTeam
      parameters:
        - description: Team name
          in: path
          name: team_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Key ID
          in: path
          name: key_id
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusUrlResponse'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Revoke encryption key in org/team
      tags:
        - Encryption Keys
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /team/{team}/workflows/{workflow_id}:
    get:
      description: Returns the current status (pending, running, completed, or failed) of an artifact-registry Temporal workflow execution within the specified organization and team.
      operationId: getWorkflowStatusForTeam
      parameters:
        - description: Team name
          in: path
          name: team
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Workflow identifier
          in: path
          name: workflow_id
          required: true
          schema:
            format: UTF-8
            maxLength: 512
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get team-scoped workflow status
      tags:
        - Workflows
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /workflows/{workflow_id}:
    get:
      description: Returns the current status (pending, running, completed, or failed) of an artifact-registry Temporal workflow execution within the specified organization.
      operationId: getWorkflowStatus
      parameters:
        - description: Workflow identifier
          in: path
          name: workflow_id
          required: true
          schema:
            format: UTF-8
            maxLength: 512
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get workflow status
      tags:
        - Workflows
    servers:
      - url: https://api.ngc.nvidia.com/v2/artifact-registry/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections:
    get:
      description: List collections the user can access in the specified org
      operationId: listCollectionsInOrg
      parameters:
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 5000
            minLength: 0
            minimum: 1
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Order by
          in: query
          name: order-by
          required: false
          schema:
            enum:
              - ALPHABETIC_ASC
              - ALPHABETIC_DESC
              - CREATED_DATE_ASC
              - CREATED_DATE_DESC
              - SEMVER_ASC
              - SEMVER_DESC
              - DISPLAY_NAME_ASC
              - DISPLAY_NAME_DESC
              - UPDATED_DATE_ASC
              - UPDATED_DATE_DESC
              - PUBLISHER_ASC
              - PUBLISHER_DESC
              - BUILT_BY_ASC
              - BUILT_BY_DESC
              - RESOURCE_ID_ASC
              - RESOURCE_ID_DESC
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List collections in org
      tags:
        - Collections
    post:
      description: Create collection in org
      operationId: createCollectionInOrg
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Create collection in org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}:
    get:
      description: Get collection details in org
      operationId: getCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Resolve labels
          in: query
          name: resolve-labels
          required: false
          schema:
            type: boolean
        - description: Remove unresolved labels
          in: query
          name: remove-unresolved-labels
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get collection in org
      tags:
        - Collections
    patch:
      description: Update collection details in org
      operationId: updateCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Update collection in org
      tags:
        - Collections
    delete:
      description: Delete collection in the specified org
      operationId: deleteCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Delete collection in org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/artifacts:
    patch:
      description: Patch collection in the specified org
      operationId: patchCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionPatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Patch collection in org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/artifacts/org/{artifact_org_name}/team/{artifact_team_name}/{artifact_type}/{artifact_name}:
    put:
      description: Add artifact to the specified collection in the specified org from another org and team
      operationId: addArtifactToCollectionInOrgFromAnotherOrgAndTeam
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact organization name
          in: path
          name: artifact_org_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact team name
          in: path
          name: artifact_team_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Add artifact to collection in org from another org and team
      tags:
        - Collections
    delete:
      description: Remove artifact from the specified collection in the specified org from another org
      operationId: removeArtifactFromCollectionInOrgFromAnotherOrgAndTeam
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact organization name
          in: path
          name: artifact_org_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact team name
          in: path
          name: artifact_team_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Remove artifact from collection in org from another org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/artifacts/org/{artifact_org_name}/{artifact_type}/{artifact_name}:
    put:
      description: Add artifact to the specified collection in the specified org from another org
      operationId: addArtifactToCollectionInOrgFromAnotherOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact organization name
          in: path
          name: artifact_org_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Add artifact to collection in org from another org
      tags:
        - Collections
    delete:
      description: Remove artifact from the specified collection in the specified org from another org
      operationId: removeArtifactFromCollectionInOrgFromAnotherOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact organization name
          in: path
          name: artifact_org_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Remove artifact from collection in org from another org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/artifacts/{artifact_type}:
    get:
      description: List collection artifacts the user can access in the specified org
      operationId: listCollectionArtifactsInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 5000
            minLength: 0
            minimum: 1
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Order by
          in: query
          name: order-by
          required: false
          schema:
            enum:
              - ALPHABETIC_ASC
              - ALPHABETIC_DESC
              - CREATED_DATE_ASC
              - CREATED_DATE_DESC
              - SEMVER_ASC
              - SEMVER_DESC
              - DISPLAY_NAME_ASC
              - DISPLAY_NAME_DESC
              - UPDATED_DATE_ASC
              - UPDATED_DATE_DESC
              - PUBLISHER_ASC
              - PUBLISHER_DESC
              - BUILT_BY_ASC
              - BUILT_BY_DESC
              - RESOURCE_ID_ASC
              - RESOURCE_ID_DESC
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Resolve labels
          in: query
          name: resolve-labels
          required: false
          schema:
            type: boolean
        - description: Remove unresolved labels
          in: query
          name: remove-unresolved-labels
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List collection artifacts in org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/share/product:
    put:
      description: Publish collection to product
      operationId: publishCollectionFromRequest
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionPublishRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Publish collection to product
      tags:
        - Publish
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /collections/{collection_name}/{artifact_type}/{artifact_name}:
    put:
      description: Add artifact to the specified collection in the specified org
      operationId: addArtifactToCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Add artifact to collection in org
      tags:
        - Collections
    delete:
      description: Remove artifact from the specified collection in the specified org
      operationId: removeArtifactFromCollectionInOrg
      parameters:
        - description: Collection name
          in: path
          name: collection_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact type
          in: path
          name: artifact_type
          required: true
          schema:
            enum:
              - MODEL
              - MODEL_SCRIPT
              - HELM_CHART
              - REPOSITORY
              - COLLECTION
              - ENDPOINT
              - BLUEPRINT
              - PLAYBOOK
              - AGENT
              - API
              - SKILL
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Remove artifact from collection in org
      tags:
        - Collections
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /helm-charts/{artifact_name}/versions:
    get:
      description: List chart versions in org
      operationId: listHelmChartVersionsInOrg
      parameters:
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 5000
            minLength: 0
            minimum: 1
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Sort order
          in: query
          name: sort-order
          required: false
          schema:
            enum:
              - ALPHABETIC_ASC
              - ALPHABETIC_DESC
              - CREATED_DATE_ASC
              - CREATED_DATE_DESC
              - SEMVER_ASC
              - SEMVER_DESC
              - DISPLAY_NAME_ASC
              - DISPLAY_NAME_DESC
              - UPDATED_DATE_ASC
              - UPDATED_DATE_DESC
              - PUBLISHER_ASC
              - PUBLISHER_DESC
              - BUILT_BY_ASC
              - BUILT_BY_DESC
              - RESOURCE_ID_ASC
              - RESOURCE_ID_DESC
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Release Type
          in: query
          name: release-type
          required: false
          schema:
            enum:
              - BETA
              - GA
              - EA
              - FEATURE
              - PRODUCTION
              - LTSB
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactVersionListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List chart versions in org
      tags:
        - Helm Charts
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /helm-charts/{artifact_name}/versions/{version_id}:
    get:
      description: Get chart version in org
      operationId: getHelmChartVersionInOrg
      parameters:
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactVersionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get chart version in org
      tags:
        - Helm Charts
    patch:
      description: Update chart version information in org e.g. upload status
      operationId: updateHelmChartVersionInOrg
      parameters:
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactVersionUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactVersionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Update chart version in org
      tags:
        - Helm Charts
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models:
    get:
      description: This operation lists models the user can access in the org.
      operationId: listModelsInOrg
      parameters:
        - deprecated: true
          description: Application name
          in: query
          name: app-name
          required: false
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 1000
            minLength: 0
            minimum: 1
            type: string
        - deprecated: true
          description: '[Deprecated] Page reference, Use page-number instead'
          in: query
          name: page-reference
          required: false
          schema:
            format: UTF-8
            maxLength: 1024
            minLength: 0
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Resolve labels
          in: query
          name: resolve-labels
          required: false
          schema:
            type: boolean
        - description: Remove unresolved labels
          in: query
          name: remove-unresolved-labels
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List models in org
      tags:
        - Models
    post:
      description: This operation creates a model in the org.
      operationId: createModelInOrg
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Create model in org
      tags:
        - Models
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{artifact_name}/versions/{version_id}/stash:
    patch:
      description: Stash artifact version information in org during upload paused state
      operationId: stashArtifactVersionInOrg
      parameters:
        - description: Artifact name
          in: path
          name: artifact_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 512
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Stash artifact version in org
      tags:
        - Model Version
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}:
    get:
      description: This operation gets info of a model in the org.
      operationId: getModelInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Resolve labels
          in: query
          name: resolve-labels
          required: false
          schema:
            type: boolean
        - description: Remove unresolved labels
          in: query
          name: remove-unresolved-labels
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get model details in org
      tags:
        - Models
    patch:
      description: This operation updates details of a model in the org.
      operationId: updateModelInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Update model in org
      tags:
        - Models
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/encryption-key:
    delete:
      description: Disassociate encryption key from model in org and mark it for offline deletion
      operationId: disassociateKeyFromModelInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusUrlResponse'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Disassociate encryption key from model in org
      tags:
        - Models
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/shares/org:
    put:
      description: This operation shares an org model with the org.
      operationId: shareModelInOrgWithOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Share org model with the org
      tags:
        - Models
    delete:
      description: This operation revokes a shared org model with the org.
      operationId: revokeShareModelInOrgWithOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Revoke shared org model with the org
      tags:
        - Models
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/shares/team/{target_team}:
    put:
      description: This operation shares an org model with the team.
      operationId: shareModelInOrgWithTeam
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Target team name
          in: path
          name: target_team
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Share org model with the specified team
      tags:
        - Models
    delete:
      description: This operation revokes a shared org model with the team.
      operationId: revokeShareModelInOrgWithTeam
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Target team name
          in: path
          name: target_team
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Revoke shared org model with the specified team
      tags:
        - Models
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/versions:
    get:
      description: List model versions in org
      operationId: listModelVersionsInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Release Type
          in: query
          name: release-type
          required: false
          schema:
            enum:
              - BETA
              - GA
              - EA
              - FEATURE
              - PRODUCTION
              - LTSB
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 1000
            minLength: 0
            minimum: 1
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Sort order
          in: query
          name: sort-order
          required: false
          schema:
            enum:
              - ALPHABETIC_ASC
              - ALPHABETIC_DESC
              - CREATED_DATE_ASC
              - CREATED_DATE_DESC
              - SEMVER_ASC
              - SEMVER_DESC
              - DISPLAY_NAME_ASC
              - DISPLAY_NAME_DESC
              - UPDATED_DATE_ASC
              - UPDATED_DATE_DESC
              - PUBLISHER_ASC
              - PUBLISHER_DESC
              - BUILT_BY_ASC
              - BUILT_BY_DESC
              - RESOURCE_ID_ASC
              - RESOURCE_ID_DESC
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List model versions in org
      tags:
        - Model Version
    post:
      description: Create a new and empty model version in org. Please use the string versionId and not the deprecated numeric id. Semantic Versioning is recommended https://semver.org
      operationId: createModelVersionInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelVersionCreateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Create model version in org
      tags:
        - Model Version
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/versions/{version_id}:
    get:
      description: Get model version in org
      operationId: getModelVersionInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 512
            minLength: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Get model version in org
      tags:
        - Model Version
    patch:
      description: Update model version information in org e.g. upload status
      operationId: updateModelVersionInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 512
            minLength: 0
            type: string
        - description: Create zip of version content
          in: query
          name: create-zip
          required: false
          schema:
            type: boolean
        - description: Set version to latest
          in: query
          name: set-latest
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelVersionUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: Update model version in org
      tags:
        - Model Version
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /models/{model_name}/versions/{version_id}/files:
    get:
      description: List files of the model version in org
      operationId: listModeFilesInOrg
      parameters:
        - description: Model name
          in: path
          name: model_name
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Version ID
          in: path
          name: version_id
          required: true
          schema:
            format: UTF-8
            maxLength: 262144
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 5000
            minLength: 0
            minimum: 1
            type: string
        - description: Page reference
          in: query
          name: page-reference
          required: false
          schema:
            format: UTF-8
            maxLength: 1024
            minLength: 0
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionFileListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List model files in org
      tags:
        - Model Version Files
    servers:
      - url: https://api.ngc.nvidia.com/v2/org/{org_name}
        variables:
          org_name:
            description: NGC organization name (the org id shown in the NGC console under Organization -> Setup, e.g. 0123456789ab). Resolved from the NGC_ORG environment variable when it is set (x-stackQL-envVar - the same variable the NVIDIA Terraform provider reads); otherwise it must be supplied on every org-scoped query as WHERE org_name = '<org>'. A WHERE value always takes precedence over the environment.
            x-stackQL-envVar: NGC_ORG
  /recipes:
    get:
      description: List recipes the user can access in the specified org
      operationId: listRecipesInOrg
      parameters:
        - description: Application name
          in: query
          name: app-name
          required: false
          schema:
            format: UTF-8
            maxLength: 255
            minLength: 0
            type: string
        - description: Page size
          in: query
          name: page-size
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 5000
            minLength: 0
            minimum: 1
            type: string
        - description: Page number - zero based index
          in: query
          name: page-number
          required: false
          schema:
            format: UTF-8
            maxLength: 262144
            maximum: 10000
            minLength: 0
            minimum: 0
            type: string
        - description: Resolve labels
          in: query
          name: resolve-labels
          required: false
          schema:
            type: boolean
        - description: Remove unresolved labels
          in: query
          name: remove-unresolved-labels
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeListResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Internal Error
      summary: List recipes in org
[...]
